# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
venv/
.venv/
*.egg-info/
dist/
build/

# Jupyter
.ipynb_checkpoints/

# Logs & checkpoints
logs/
checkpoints/
*.pt
*.pth
*.ckpt

# IDE
.vscode/
.idea/

# OS
.DS_Store
